.venv/
.Simmilar Projects - References/
runTest.txt/

#Trial-Model
Trial-Model/.ipynb_checkpoints/
Trial-Model/.venv/
Trial-Model/images/
Trial-Model/dump/
Trial-Model/Real-life Deception Detection Dataset With Train Test/

#prototype-v1
prototype-v1/.ipynb_checkpoints/
prototype-v1/.venv-feat/
prototype-v1/.venv-openface/
prototype-v1/dump/
prototype-v1/train/
prototype-v1/__pycache__/

#prototype-v2
prototype-v2/.ipynb_checkpoints/
prototype-v2/.venv-openface02/
prototype-v2/dump/
prototype-v2/__pycache__/
